*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    width: 100%;
    padding: 35px 10%;
}
main.row
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}
.col header.title
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(110, 32, 65);
    padding: 10px 0px 30px 40px;
    text-align: left;
}
.contents
{
    padding: 0px 30px;
    border-left: 2px solid #bababa;
    text-align: center;
}
.box
{
    position: relative;
    padding: 20px;
    border: 1px solid #751e4283;
    background-color: #f5cfcf;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
    width: 400px;
    height: 140px;
    align-items: center;
    justify-content: center;
    }
ul{
    list-style: none;
}
.box ul li a
{
    color: black;
    text-decoration: none;
}